In [1]:
import numpy as np
import pandas as pd

lonas = pd.read_csv('Data/lonas_prepared.csv')
ocorrencias = pd.read_csv('Data/ocorrencias_prepared.csv')
vistorias = pd.read_csv('Data/vistorias_prepared.csv')

In [2]:
lonas = lonas.drop(columns='Unnamed: 0',axis=1)
lonas.head()

,year,month,ID,date_of_placement,justification,length,num_points,in_place_Sim
0,2013,2,8002108013,25,0,240,1,1
1,0,0,8003832612,0,0,0,0,0
2,0,0,8005348412,0,0,0,0,0
3,0,0,8003833212,0,0,0,0,0
4,2013,3,8002630913,5,0,120,1,1

In [3]:
lonas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8090 entries, 0 to 8089
Data columns (total 8 columns):
year                 8090 non-null int64
month                8090 non-null int64
ID                   8090 non-null int64
date_of_placement    8090 non-null int64
justification        8090 non-null int64
length               8090 non-null int64
num_points           8090 non-null int64
in_place_Sim         8090 non-null int64
dtypes: int64(8)
memory usage: 505.7 KB

In [4]:
lonas['justification'].value_counts()

0    8085
1       5
Name: justification, dtype: int64

In [5]:
ocorrencias = ocorrencias.drop(columns='Unnamed: 0',axis=1)
ocorrencias.head()

           ID  event
0  8155845218      0
1  8155698018      1
2  8155361518      0
3  8155337718      0
4  8155296918      0

In [6]:
ocorrencias.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28726 entries, 0 to 28725
Data columns (total 2 columns):
ID       28726 non-null int64
event    28726 non-null int64
dtypes: int64(2)
memory usage: 448.9 KB

In [7]:
ocorrencias['event'].value_counts()

0    22717
1     6009
Name: event, dtype: int64

In [8]:
vistorias = vistorias.drop(columns='Unnamed: 0',axis=1)
vistorias.head()

   risk          ID
0     3  8008472812
1     2  8008985512
2     4  8008835312
3     4  8006628012
4     3  8008759512

In [9]:
vistorias.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10696 entries, 0 to 10695
Data columns (total 2 columns):
risk    10696 non-null int64
ID      10696 non-null int64
dtypes: int64(2)
memory usage: 167.2 KB

In [10]:
slidings = lonas.set_index('ID').join(vistorias.set_index('ID')).join(ocorrencias.set_index('ID'))

In [11]:
slidings.head()

,year,month,date_of_placement,justification,length,num_points,in_place_Sim,risk,event
ID,,,,,,,,,
8002108013,2013,2,25,0,240,1,1,NaN,NaN
8003832612,0,0,0,0,0,0,0,NaN,NaN
8005348412,0,0,0,0,0,0,0,NaN,NaN
8003833212,0,0,0,0,0,0,0,NaN,NaN
8002630913,2013,3,5,0,120,1,1,NaN,NaN

In [12]:
slidings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8090 entries, 8002108013 to 8131172619
Data columns (total 9 columns):
year                 8090 non-null int64
month                8090 non-null int64
date_of_placement    8090 non-null int64
justification        8090 non-null int64
length               8090 non-null int64
num_points           8090 non-null int64
in_place_Sim         8090 non-null int64
risk                 878 non-null float64
event                2515 non-null float64
dtypes: float64(2), int64(7)
memory usage: 888.0 KB

In [13]:
slidings['risk'].value_counts()

3.0    494
0.0    188
2.0     97
4.0     94
1.0      5
Name: risk, dtype: int64

In [14]:
slidings['event'].value_counts()

0.0    1991
1.0     524
Name: event, dtype: int64

In [15]:
slidings['justification'].value_counts()

0    8085
1       5
Name: justification, dtype: int64

In [16]:
slidings.reset_index(level=0,inplace=True)

In [18]:
slidings.head()

,ID,year,month,date_of_placement,justification,length,num_points,in_place_Sim,risk,event
0,8002108013,2013,2,25,0,240,1,1,NaN,NaN
1,8003832612,0,0,0,0,0,0,0,NaN,NaN
2,8005348412,0,0,0,0,0,0,0,NaN,NaN
3,8003833212,0,0,0,0,0,0,0,NaN,NaN
4,8002630913,2013,3,5,0,120,1,1,NaN,NaN

In [21]:
slidings['risk'].fillna(0,inplace=True)
slidings['event'].fillna(0,inplace=True)
slidings.head()

,ID,year,month,date_of_placement,justification,length,num_points,in_place_Sim,risk,event
0,8002108013,2013,2,25,0,240,1,1,0.0,0.0
1,8003832612,0,0,0,0,0,0,0,0.0,0.0
2,8005348412,0,0,0,0,0,0,0,0.0,0.0
3,8003833212,0,0,0,0,0,0,0,0.0,0.0
4,8002630913,2013,3,5,0,120,1,1,0.0,0.0

In [27]:
slidings['risk'] = slidings['risk'].astype(int)
slidings['event'] = slidings['event'].astype(int)
slidings.head()

,ID,year,month,date_of_placement,justification,length,num_points,in_place_Sim,risk,event
0,8002108013,2013,2,25,0,240,1,1,0,0
1,8003832612,0,0,0,0,0,0,0,0,0
2,8005348412,0,0,0,0,0,0,0,0,0
3,8003833212,0,0,0,0,0,0,0,0,0
4,8002630913,2013,3,5,0,120,1,1,0,0

In [28]:
slidings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8090 entries, 0 to 8089
Data columns (total 10 columns):
ID                   8090 non-null int64
year                 8090 non-null int64
month                8090 non-null int64
date_of_placement    8090 non-null int64
justification        8090 non-null int64
length               8090 non-null int64
num_points           8090 non-null int64
in_place_Sim         8090 non-null int64
risk                 8090 non-null int32
event                8090 non-null int32
dtypes: int32(2), int64(8)
memory usage: 568.9 KB